.header {
  .flex {
    padding: 24px;
    background-color: black;
    height: 80px;
  }
  &__logo {
    width: 60%;
    img {
      width: 200px;
    }
  }
  &__hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > span {
      width: 22px;
      height: 2px;
      background-color: white;
      &:nth-child(2) {
        width: 28px;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
