html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 17px 24px;
  background-color: black;
  height: 80px;
}

.header__logo img {
  display: block;
  width: 200px;
}

.header__hamburger > span {
  display: block;
  width: 23px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__hamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__links a {
  position: relative;
  color: white;
  font-size: 0.875rem;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: yellow;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: yellow;
}

.header__links a:hover::before {
  opacity: 1;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .img-slider {
  position: relative;
  width: 100%;
}

.slider-container .img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.slider-container .img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

.slider-container .img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.slider-container .img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
}
/*# sourceMappingURL=style.css.map */