* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  align-items: center;
  height: 40px;
}

nav .logo a img {
  width: 200px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: yellow;
}
